{
	"PROTOCOL": "https",
	"PORT": "3900",
	"url": "http://localhost:3900",
	"schemes": "http",
	"services": {
		"slack": "https://slack.com/api"
	},
	"_vcap_application": {
		"application_uris":["localhost:3900"]
	},
	"_vcap_services": {
		"cloudantNoSQLDB": [{
			"credentials": {
				"url":"CLOUDANT_URL"
			}
		}]
	},
	"TIAM_URL": "",
	"TIAM_CLIENT_ID": "",
	"TIAM_CLIENT_SECRET": ""
}