{
	"PROTOCOL": "http",
	"PORT": "3900",
	"url": "http://localhost:3900",
	"schemes": "http",
	"services": {
		"slack_api": "https://slack.com/api",
		"otc_api": "http://localhost:3400/api/v1",
		"otc_ui": "http://localhost:3100/devops",
		"otc_webhook-manager" : "http://localhost:3250"
	},
    "icons": {
        "github": "https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png",
        "toolchain": "http://blade-resources.mybluemix.net/toolchain-32.png",
        "pipeline": "http://blade-resources.mybluemix.net/pipeline.png",
        "bluemix": "https://hub.jazz.net/api/v1/composition/graphics/header/bluemix-logo.png"
    },
	"_vcap_application": {
		"application_uris":["localhost:3900"]
	},
	"_vcap_services": {
		"cloudantNoSQLDB": [{
			"credentials": {
				"url":"CLOUDANT_URL"
			}
		}]
	},
	"TIAM_URL": "",
	"TIAM_CLIENT_ID": "",
	"OTC_API_BROKER_SECRET": ""
	
}