{
	"PORT": "3900",
	"url": "http://localhost:3900",
	"services": {
		"slack_api": "https://slack.com/api",
		"otc_api": "http://localhost:3400/api/v1",
		"otc_ui": "http://localhost:3100/devops"
	},
    "icons": {
        "github": "https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png",
        "toolchain": "https://devops.ng.bluemix.net/images/toolchain-32.png",
        "pipeline": "https://devops.ng.bluemix.net/images/pipeline.png"
    },
	"_vcap_services": {
		"cloudantNoSQLDB": [{
			"credentials": {
				"url":"CLOUDANT_URL"
			}
		}]
	},
	"TIAM_URL": "",
	"TIAM_CLIENT_ID": "",
	"OTC_API_BROKER_SECRET": "",
	"LOG4J_LEVEL": ""	
}